@font-face {
  font-family: 'MS Sans Serif';
  src: url('../../assets/fonts/MSSansSerif/MSSansSerif.woff2') format('woff2');
}
@font-face {
  font-family: 'MS Sans Serif Bold';
  src: url('../../assets/fonts/MSSansSerif/MSSansSerif_Bold.woff2')
    format('woff2');
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'MS Sans Serif', 'Courier New', Courier, monospace;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: var(--desktopBackground);
  color: var(--materialText);
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#root,
.ReactModal__Overlay {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  max-height: 636px;
  min-height: 636px;
  max-width: 924px;
  overflow: hidden;
  top: 24px;
}

/* Take up full height and width on mobile */
@media only screen and (max-width: 430px) {
  #root,
  .ReactModal__Overlay {
    top: 0;
    width: auto;
    height: 100%;
    max-height: none;
    min-height: 100%;
  }
}
