@font-face {
  font-family: 'MS Sans Serif';
  src: url('../../assets/fonts/MSSansSerif/MSSansSerif.woff2') format('woff2');
}
@font-face {
  font-family: 'MS Sans Serif Bold';
  src: url('../../assets/fonts/MSSansSerif/MSSansSerif_Bold.woff2')
    format('woff2');
}

html {
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'MS Sans Serif', 'Courier New', Courier, monospace;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: var(--material);
  color: var(--materialText);
}

#root,
.ReactModal__Overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.ReactModal__Overlay {
  position: absolute;
  top: 0;
  left: 0;
}
