@font-face {
  font-family: 'w95fa';
  src: url('../../assets/fonts/w95fa/w95fa.woff2') format('woff2');
}

html {
  height: 100%;
  overflow-x: hidden;
  font-size: 18px;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'w95fa';
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: var(--gray);
  color: var(--black);
}
